

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-link {
  color:azure
}
.nav-bar{
  background-color:white;
   font-family:sans-serif;
   cursor:pointer;
   border:none;
   font-size:18px
}

.nav-bar:hover{
  color: #efefef;
}

@media screen and (min-width: 600px) {
  body {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: bisque;
  }
  
}

@media screen and (min-width: 1280px) {
  body {
    background-color: white;
  }
  .container-body{
    margin-left: 150px;
    padding-left: 10px;
    margin-right: 150px;
    padding-right: 10px;
   
  }
  
}
